################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/FigurasGeometricas/EntidadesTest/.vs/slnx.sqlite
/FigurasGeometricas/.vs/FigurasGeometricas/v16/Server/sqlite3
